<div class="col-md-12" *ngIf="showZero" >0</div>
<div class="col-md-12"> 
    <span>{{firstNum}}</span>
    <span>{{currentOperator}}</span>
    <span>{{secondnum}}</span>
    <span *ngIf="showResult">=</span>
    <span>  {{finalResult}}</span>
  

</div>
<div class="col-md-12 ">

    <table>
        <tr>
            <td class="add" (click)="clickParam(7)" >7</td>
            <td class="add" (click)="clickParam(8)">8</td>
            <td class="add" (click)="clickParam(9)">9</td>
            <td class="add coloLastColum" (click)="clickParam('multiply')" >x</td>
        </tr>
        <tr>
            <td class="add"  (click)="clickParam(4)">4</td>
            <td class="add" (click)="clickParam(5)">5</td>
            <td  class="add" (click)="clickParam(6)">6</td>
            <td  class="add coloLastColum" (click)="clickParam('sub')">-</td>
        </tr>
        <tr>
            <td class="add" (click)="clickParam(1)">1</td>
            <td class="add" (click)="clickParam(2)">2</td>
            <td class="add" (click)="clickParam(3)">3</td>
            <td class="add coloLastColum" (click)="clickParam('add')">+</td>
        </tr>
        <tr>
            <td class="add" (click)="clickParam('divide')">%</td>
            <td class="add"  (click)="clickParam(0)">0</td>
            <td class="add" (click)="clear()">C</td>
            <td  class="add equalBtn" (click)="showresult()">=</td>
        </tr>
    </table>
</div>